* {
  margin: 0;
  padding: 0;
  font-family: "Bree Serif", serif;
}
.trial {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.trial h1 {
  margin-top: 20px;
}

.trial p {
  margin-top: 15px;
  max-width: 240px;
  text-align: center;
}

div.button-trial {
  background-color: #333333;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 50px;
  cursor: pointer;
  margin-top: 20px;
  letter-spacing: 1px;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: #ffd6c0;
}

.active {
  color: #ff7676 !important;
}

.footer-container {
  background-color: #fffcfb;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  padding: 90px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  width: 50%;
}

.footer-content ul {
  list-style: none;
}
.footer-content ul li {
  font-weight: bold;
  position: relative;
  color: #3f342f;
  cursor: pointer;
}

.copy {
  color: #ddd;
  font-size: 14px;
  margin-bottom: 20px;
}

/* responsive breakpoint */

/* tablet */

@media screen and (max-width: 768px) {
  .trial img {
    width: 40%;
  }
}

/* mobile */

@media screen and (max-width: 576px) {
  .trial img {
    width: 50%;
  }
}
