.container {
  width: 100%;
  background-color: salmon;
  margin: auto;
  display: grid;
  grid-template-areas:
    "navbar navbar navbar"
    "header header header"
    "content content content"
    "main main main"
    "footer footer footer";
}

.navbar {
  background-color: #fff;
  grid-area: navbar;
}

.header {
  background-color: #fff;
  grid-area: header;
}

.content {
  background-color: #fff;
  grid-area: content;
}
.main {
  background-color: #fff;
  grid-area: main;
}

.footer {
  background-color: #fff;
  grid-area: footer;
}
